# Terraform
*.tfstate
*.tfstate.*
*.tfvars
backend.hcl
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs
deployment.log
*.log

# IDE
.idea/
*.swp
*.swo
*~
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
